body {
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    width: 100%;
}

.container {
    position: relative;
}

.slideElement {
    display: none;
}

.cursor {
    cursor: pointer;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

.row > .column {
    display: inline-block;
    width: 25%;
}

.column:not(:first-child) {
    margin-left: -4.5px;
}

.images {
    opacity: 0.6;
}

.active,
.images:hover {
    opacity: 1;
}
