body {
    font-family: Verdana, sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

.row > .column {
    padding: 0 0.5px;
    display: inline-block;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-overlay > .column {
    float: left;
    width: 25%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.slideElement {
    display: none;
}

.cursor {
    cursor: pointer;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

#next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

img {
    margin-bottom: -4px;
    width: 100%;
}

.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

.images {
    opacity: 0.6;
}

.active,
.images:hover {
    opacity: 1;
}

img.shadow {
    transition: 0.3s;
}

.shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
